<%- include('_header'); %>

<div class="container">
    <% if (posts) { %>
        <div class="posts">
            <% posts.forEach(function(post) { %>
                <div class="post-container">
                    <h2>
                        <a href="/post/<%= post._id %>">
                            <% if(post.title) { %>
                                <%= post.title %>
                            <% } else { %>
                                Untitled
                            <% } %>
                        </a>
                    </h2>
                    <div class="post-meta">
                        <p title="Author" class="post-meta-author"><%= post.user.name %></p>
                        <p title="Creted/Updated" class="post-meta-date"><%= post.date.getMonth() + 1 %>/<%= post.date.getDate() %>/<%= post.date.getFullYear() %></p>
                        <p title="Views" class="post-meta-views"><%= post.views %></p>
                    </div>
                </div>
            <% }) %>
        </div><!-- .posts -->
    <% } else { %>
        <p>No post was found</p>
    <% } %>
</div><!-- .container -->

<%- include('_footer'); %>